<mat-grid-list id="template-class-table" cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="4" [rowspan]="1" *ngIf="className !== undefined">{{className}} table</mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1" *ngIf="className === undefined">Error: No Classname detected in url</mat-grid-tile>
    <!--<mat-grid-tile [colspan]="4" [rowspan]="1">classTypeData : {{classTypeData | json}}</mat-grid-tile>-->
    <mat-grid-tile [colspan]="4" [rowspan]="1">Class Table Row Configuration</mat-grid-tile>
    <mat-grid-tile 
         *ngFor="let polVar of shownVars; index as i; first as isFirst"
         [colspan]="1"
         [rowspan]="2"
    >
        <default-cell
        [object]="classTypeData[polVar]?.objectName" 
        [name]="classTypeData[polVar]?.variableName" 
        [type]="classTypeData[polVar]?.variablePythonType"
        ></default-cell>
        <config-cell-actions 
        [varInfo]="classTypeData[polVar]"
        (moveUp)="moveUp($event)"
        (moveDown)="moveDown($event)"
        (remove)="remove($event)"
        >
        </config-cell-actions>
    </mat-grid-tile>
</mat-grid-list>