[class*="mat-column"] {
    color: black;
    background-color: grey;
    border-color: black;
    text-align: center;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

[class*="mat-header"] {
    color: black;
    font-size: medium;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

/* Fallback container for when dashboard is not ready */
.fallback-container {
    width: 80%;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto;
    padding: 16px;
}

/* Loading state */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    min-height: 200px;
}

.loading-container p {
    margin-top: 16px;
    color: #666;
    font-size: 14px;
}
