<div class="container"
     fxLayout
     fxLayoutAlign="center"
     fxLayoutGap="5%"
     fxLayoutGap.xs="0"
>
    <div class="container item-color"
        fxLayout="column"
        fxLayoutAlign="center"
        fxLayoutGap="50px"
        fxLayoutGap.xs=""
        fxFlex="700px">
            <div class="item value-statement" fxFlex="400px">
                <div class="value-statement-sentence">Unlock the power of no-code with our platform.</div>
                <div class="value-statement-sentence">Rapidly experiment with custom solutions, leverage the community's open-source solutions and platforms, and turn a profit on the cutting edge as an independent developer.</div>
                <div class="value-statement-sentence">Protect your rights and returns with our unique solution tracking and AI-powered logic-structure tracking.</div>
                <div class="value-statement-sentence">Experience the ease and efficiency of creating innovative solutions with us. </div>
            </div>
    </div>
  
  <div class="item item-color"
       fxFlex="30%"
  >
  <div style="padding-bottom:40px; text-align:center;">Create a Node</div>
  <div style="padding-bottom:40px; text-align:center;">Access a Node</div>
  <div>
    <div style="padding-bottom:15px; text-decoration: underline; font-size:20px; text-align:center;">Getting Started with Polari</div>
    <div style="font-size:16px; padding-bottom:15px;">Download Polari: Click the "Download" button on the top right corner of the page to download the latest version of Polari.</div>
    <div style="font-size:16px; padding-bottom:15px;">Create your own node: Click on the "Create a Node" button on the top right corner of the page to set up and configure your own Polari node.</div>
    <div style="font-size:16px; padding-bottom:15px;">Access your node remotely: Click on the "Access your Node" button on the top right corner of the page to remotely connect to your Polari node.</div>
    <div style="font-size:16px; padding-bottom:15px;">Explore the documentation: Visit our "Documentation" page for detailed instructions and information on how to use Polari.</div>
    <div style="font-size:16px; padding-bottom:15px;">Join our community: Visit our "Community" page to connect with other Polari users and stay updated on the latest developments.</div>
    </div>
  </div>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
>
  <div class="item item-color"
       fxFlex="50%"
       fxFlexOffset="0px"
       fxFlexOffset.xs="0"
  >
  <div style="padding-bottom:15px; text-align:center;">
    Sample Applications
  </div>
  <p style="font-size:18px;">
    In this example we have an experimental/scientific use-case to create a simulation exploring the plausibility of a Vacuum Balloon using a complex interdisciplinary
    simulation system.  This experimental model involves a few different factors and can be built to involve multiple levels
    of complexity for proving the model as viable before starting a project.  This simulation is meant to establish a basis for
    more detailed research simulations to explore plausibility of the approach of using an 'Atmospheric Engine' for affordable
    space travel.
    (1) Buoyancy of the Balloon  (2) Mass of the Balloon (in this simple model we ignore fuel and other devices required and 
    their mass)  (3) Percent Vacuum internal  (4) Pressure Differential at current altitude  
    (5) Percentage Tolerance of Balloon Materials at the given time. (6) Atmospheric Engine rate of gas transference
    and pressure differential capacity
  </p>
  <p style="font-size:18px;">
    In this example we have a common grid-oriented interdisciplinary use-case for electrical engineering, 
    Interconnecting multiple open source simulation systems, we can use Polari to quickly put together
    a complex interdisciplinary system for making a solar micro-grid simulation.  In this example we implement
    (1) A grid simulation, (2) A Solar Panel Simulation, (3) A Battery Simulation, and 
    (4) A geo-location based weather simulation.
  </p>
    </div>

    <div class="item item-color"
       fxFlex="50%"
       fxFlexOffset="0px"
       fxFlexOffset.xs="0"
  >
  <div style="padding-bottom:15px; text-align:center;">
    Future Development
  </div>
  <div style="padding-bottom:15px; text-align:center; font-size:24px;">
    Artificial Intelligence
  </div>
  <p style="font-size:18px;">
    Unlock the power of self-modifying AI with Polari. Our platform and it's core algorithm were designed to host an AI that can experimentally modify itself, per-node, allowing for the creation of multi-modal systems that generate and incorporate their own new AI and direct calculation models. The no-code platform is a launching point for small teams to consolidate data and open source work/AI, making it possible for many different testable approaches to be tried. With Polari, you can re-construct even the basis of your own systems and achieve new levels of innovation in the field of AI.  This is the main reason this new core was developed, to allow humanity's knowledge to crystalize.
  </p>
  <div style="padding-bottom:15px; text-align:center; font-size:24px;">
    Logic Democratization
  </div>
  <p style="font-size:18px;">
    Unlock the power of transparent and democratic logic with Polari's Logic Democratization feature. Our platform allows multiple systems to track and weigh data and logic by different groups, giving them the ability to identify their organizational structure and weight of individuals or sub-groups based on qualifications or other criteria. The custom no-code platform ensures that logic corresponds directly with real-world testable practices and code, making it easy for anyone to interpret.
  </p>
  <div style="padding-bottom:15px; text-align:center; font-size:20px;">
    Scientific & Experimental Engineering Applications
  </div>
  <p style="font-size:18px;">
    Advance your research with Polari's Logic Democratization feature. Our platform allows scientists to track and analyze logical equivalence and coherence, breaking down complex processes into more manageable abstractions and providing well-defined context for logical approaches. This feature is essential for protecting the rights of engineers and scientists even after an AI-driven industrial revolution.
  </p>
  <div style="padding-bottom:15px; text-align:center; font-size:20px;">
    Political Applications
  </div>
  <p style="font-size:18px;">
    Empower your group's voice with Polari's Logic Democratization feature. Our platform allows for independent groups to represent themselves in a formal and transparent manner, ensuring that their arguments are not filtered or obstructed from reaching politicians and the public. It enables the direct integration and analysis of scientific data and political beliefs and statements, making it easy for people to judge the validity of the facts and the process by which they are derived. With Logic Democratization, your group can make a powerful impact on the political landscape.
  </p>
  <div style="padding-bottom:15px; text-align:center; font-size:24px;">
    Uniqueness Analysis
  </div>
  <p style="font-size:18px;">
    Unlock the power of understanding logical contributions with Polari's Uniqueness and Contribution Analysis feature. Utilizing Logic Democratization, we generate a user-defined coherent general logic model across all fields for subjects that are analyzable. We then use AI and web-crawling, together with user inputs, to break down the abstraction-context pairs. The most commonly used and agreed upon logically coherent and efficient models serve as the central point for the concept, going to the lowest level concepts possible and iterating to form a coherent mapping of the entire system. 
</p>
<p style="font-size:18px;">
    We then date the earliest identifiable mentions of those concepts and isolate those within a range of time where it is reasonable or plausible they were developed independently but arrived at the same conclusion. This creates a static mapping of all logic in the system to their historical discovery while abstracting together logical equivalents.  When combined with Political Logic Democratization implementation, we can add weights to how important particular parts of the contribution are in given scenarios, to create a model by which we can determine the fairness of a distribution of profits based on contribution according to organizations and individuals as contributors.
</p>
    
  
    </div>
</div>