<mat-toolbar class="menu-toolbar">
    <div class="inputs-container">
        <mat-form-field *ngIf="!isConnectorMode">
            <mat-label>State Input Slots</mat-label>
          <input matInput type="number" placeholder="Input Slots" [(ngModel)]="stateInputSlots">
        </mat-form-field>
        <mat-form-field *ngIf="!isConnectorMode">
            <mat-label>State Output Slots</mat-label>
          <input matInput type="number" placeholder="Output Slots" [(ngModel)]="stateOutputSlots">
        </mat-form-field>
        <mat-form-field *ngIf="isConnectorMode">
          <mat-label>Input</mat-label>
        <input matInput type="string" placeholder="Select an Input" [value]="inputState?.stateId" readonly>
      </mat-form-field>
      <mat-form-field *ngIf="isConnectorMode">
        <mat-label>Output</mat-label>
      <input matInput type="string" placeholder="Select an Output" [value]="outputState?.stateId" readonly>
    </mat-form-field>
      <div style="padding-bottom: 30px; padding-right:20px" *ngIf="!isConnectorMode">
        <button mat-button (click)="createNewStateInstance()" style="align-self: flex-end;" class="menu-btn">New State</button>
      </div>
      <div style="padding-bottom: 30px; padding-right:20px">
        <button mat-button *ngIf="isConnectorMode && (inputState != null || outputState != null)" (click)="resetConnector()" style="align-self: flex-end;" class="menu-btn">Reset</button>
        <button mat-button *ngIf="isConnectorMode && (inputState != null || outputState != null)" (click)="makeConnection()" style="align-self: flex-end;" class="menu-btn">Make Connection</button>
        <button mat-button *ngIf="!isConnectorMode" (click)="swapToConnectorMode()" style="align-self: flex-end;" class="menu-btn">Connector Mode</button>
        <button mat-button *ngIf="isConnectorMode" (click)="swapToStateMode()" style="align-self: flex-end;" class="menu-btn">State Mode</button>
      </div>
    </div>
  </mat-toolbar>
  
  
  