mat-sidenav-container {
    height: 100%;
    background-color: var(--primary-color);
  }
  
  mat-sidenav-content {
    padding: 16px;
  }

  button.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base {
    min-width: 280px;
  }
  
  mat-sidenav {
    background-color: var(--nav-color);
    min-width: 350px;
    width: auto;
    max-width: 20%;
    height:vmax;
    padding: 16px;
  }

  router-outlet {
    padding: 5px;
  }

  form {
      background-color: white;
  }