mat-sidenav-container {
    height: 100%
  }
  
  mat-sidenav-content {
    padding: 16px
  }
  
  mat-sidenav {
    background-color: var(--accent-color);
    min-width: 350px;
    width: auto;
    max-width: 20%;
    height:vmax;
    padding: 16px;
  }

  router-outlet {
    padding: 5px;
  }

  form {
      background-color: white;
  }