/* app.component.css */
mat-sidenav-container {
    height: 100vh;
    background-color: var(--primary-color);
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button.mdc-icon-button.mat-mdc-icon-button.mat-unthemed.mat-mdc-button-base {
    min-width: 280px;
  }
  
  mat-sidenav {
    background-color: var(--nav-color);
    min-width: 350px;
    width: auto;
    max-width: 20%;
    height:vmax;
    padding: 16px;
  }

  router-outlet {
    display: none; /* router-outlet itself doesn't render content */
  }

  /* Style the component inserted after router-outlet */
  router-outlet + * {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(100vh - 100px); /* Account for header height */
    padding: 16px;
    box-sizing: border-box;
  }

  form {
      background-color: white;
  }