<!-- app.component.html -->
<!-- Certificate Trust Prompt - shown when self-signed certs are not trusted -->
<app-certificate-trust-prompt></app-certificate-trust-prompt>

<mat-sidenav-container>
    <header [currentComponentTitle]="currentComponentTitle"></header>

    <mat-sidenav [(opened)]="sideNavOpened" #sidenav mode="side" >
          <mat-nav-list>
            <!-- Static Navigation Items -->
            <mat-list-item *ngFor="let navComp of staticNavComponents" (click)="pageNav(navComp)">
               {{ navComp.title }}
            </mat-list-item>

            <!-- Object Pages Dropdown (only show if we have dynamic pages with instances) -->
            <mat-list-item *ngIf="dynamicClassNavComponents.length > 0" (click)="toggleObjectPages()" class="dropdown-header">
                <mat-icon>{{ objectPagesExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                <span>Object Pages ({{ dynamicClassNavComponents.length }})</span>
            </mat-list-item>

            <!-- Object Pages Sub-categories (collapsible) -->
            <div *ngIf="objectPagesExpanded" class="dropdown-items">

                <!-- Framework Objects sub-dropdown -->
                <mat-list-item *ngIf="getObjectPagesByCategory('framework').length > 0"
                    (click)="toggleObjectPagesSub('framework')" class="sub-dropdown-header sub-framework-header">
                    <mat-icon>{{ objectPagesSubExpanded.framework ? 'expand_less' : 'expand_more' }}</mat-icon>
                    <span>Framework Objects ({{ getObjectPagesByCategory('framework').length }})</span>
                </mat-list-item>
                <div *ngIf="objectPagesSubExpanded.framework" class="sub-dropdown-items sub-framework-items">
                    <mat-list-item *ngFor="let classNav of getObjectPagesByCategory('framework')"
                        (click)="navigateToClassPage(classNav)" class="dropdown-item sub-dropdown-item">
                        <span class="dropdown-item-text">{{ classNav.title }}</span>
                    </mat-list-item>
                </div>

                <!-- Custom Objects sub-dropdown -->
                <mat-list-item *ngIf="getObjectPagesByCategory('custom').length > 0"
                    (click)="toggleObjectPagesSub('custom')" class="sub-dropdown-header sub-custom-header">
                    <mat-icon>{{ objectPagesSubExpanded.custom ? 'expand_less' : 'expand_more' }}</mat-icon>
                    <span>Custom Objects ({{ getObjectPagesByCategory('custom').length }})</span>
                </mat-list-item>
                <div *ngIf="objectPagesSubExpanded.custom" class="sub-dropdown-items sub-custom-items">
                    <mat-list-item *ngFor="let classNav of getObjectPagesByCategory('custom')"
                        (click)="navigateToClassPage(classNav)" class="dropdown-item sub-dropdown-item">
                        <span class="dropdown-item-text">{{ classNav.title }}</span>
                    </mat-list-item>
                </div>

                <!-- Material Science Objects sub-dropdown -->
                <mat-list-item *ngIf="getObjectPagesByCategory('materials_science').length > 0"
                    (click)="toggleObjectPagesSub('materials_science')" class="sub-dropdown-header sub-materials-header">
                    <mat-icon>{{ objectPagesSubExpanded.materials_science ? 'expand_less' : 'expand_more' }}</mat-icon>
                    <span>Material Science Objects ({{ getObjectPagesByCategory('materials_science').length }})</span>
                </mat-list-item>
                <div *ngIf="objectPagesSubExpanded.materials_science" class="sub-dropdown-items sub-materials-items">
                    <mat-list-item *ngFor="let classNav of getObjectPagesByCategory('materials_science')"
                        (click)="navigateToClassPage(classNav)" class="dropdown-item sub-dropdown-item">
                        <span class="dropdown-item-text">{{ classNav.title }}</span>
                    </mat-list-item>
                </div>

            </div>

            <!-- Unused Objects Dropdown (only show if we have unused classes) -->
            <mat-list-item *ngIf="unusedClassNavComponents.length > 0" (click)="toggleUnusedPages()" class="dropdown-header unused-header">
                <mat-icon>{{ unusedPagesExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                <span>Unused Objects ({{ unusedClassNavComponents.length }})</span>
            </mat-list-item>

            <!-- Unused Objects Sub-categories (collapsible) -->
            <div *ngIf="unusedPagesExpanded" class="dropdown-items unused-items">

                <!-- Framework Objects sub-dropdown (unused) -->
                <mat-list-item *ngIf="getUnusedPagesByCategory('framework').length > 0"
                    (click)="toggleUnusedPagesSub('framework')" class="sub-dropdown-header sub-framework-header">
                    <mat-icon>{{ unusedPagesSubExpanded.framework ? 'expand_less' : 'expand_more' }}</mat-icon>
                    <span>Framework Objects ({{ getUnusedPagesByCategory('framework').length }})</span>
                </mat-list-item>
                <div *ngIf="unusedPagesSubExpanded.framework" class="sub-dropdown-items sub-framework-items">
                    <mat-list-item *ngFor="let classNav of getUnusedPagesByCategory('framework')"
                        (click)="navigateToClassPage(classNav)" class="dropdown-item sub-dropdown-item unused-item">
                        <span class="dropdown-item-text">{{ classNav.title }}</span>
                    </mat-list-item>
                </div>

                <!-- Custom Objects sub-dropdown (unused) -->
                <mat-list-item *ngIf="getUnusedPagesByCategory('custom').length > 0"
                    (click)="toggleUnusedPagesSub('custom')" class="sub-dropdown-header sub-custom-header">
                    <mat-icon>{{ unusedPagesSubExpanded.custom ? 'expand_less' : 'expand_more' }}</mat-icon>
                    <span>Custom Objects ({{ getUnusedPagesByCategory('custom').length }})</span>
                </mat-list-item>
                <div *ngIf="unusedPagesSubExpanded.custom" class="sub-dropdown-items sub-custom-items">
                    <mat-list-item *ngFor="let classNav of getUnusedPagesByCategory('custom')"
                        (click)="navigateToClassPage(classNav)" class="dropdown-item sub-dropdown-item unused-item">
                        <span class="dropdown-item-text">{{ classNav.title }}</span>
                    </mat-list-item>
                </div>

                <!-- Material Science Objects sub-dropdown (unused) -->
                <mat-list-item *ngIf="getUnusedPagesByCategory('materials_science').length > 0"
                    (click)="toggleUnusedPagesSub('materials_science')" class="sub-dropdown-header sub-materials-header">
                    <mat-icon>{{ unusedPagesSubExpanded.materials_science ? 'expand_less' : 'expand_more' }}</mat-icon>
                    <span>Material Science Objects ({{ getUnusedPagesByCategory('materials_science').length }})</span>
                </mat-list-item>
                <div *ngIf="unusedPagesSubExpanded.materials_science" class="sub-dropdown-items sub-materials-items">
                    <mat-list-item *ngFor="let classNav of getUnusedPagesByCategory('materials_science')"
                        (click)="navigateToClassPage(classNav)" class="dropdown-item sub-dropdown-item unused-item">
                        <span class="dropdown-item-text">{{ classNav.title }}</span>
                    </mat-list-item>
                </div>

            </div>
          </mat-nav-list>
    </mat-sidenav>
    <p><button mat-button (click)="toggleSideNav()" ><mat-icon>menu</mat-icon></button></p>
   
    <router-outlet></router-outlet>
</mat-sidenav-container>