<div class="dict-view-container">
  <div class="dialog-header">
    <h2 mat-dialog-title>
      <span class="header-icon">{{ '{' }}{{ '}' }}</span>
      {{data.columnName}} - Dictionary View
    </h2>
    <button mat-icon-button (click)="close()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="dialog-content">
    <div class="dict-info">
      <span class="info-label">Total Keys:</span>
      <span class="info-value">{{getKeys().length}}</span>
    </div>

    <div class="dict-items">
      <div *ngFor="let key of getKeys()" class="dict-item">
        <div class="item-header">
          <span class="item-key">{{key}}</span>
          <span class="item-type">{{getValueType(data.value[key])}}</span>
        </div>
        <div class="item-value" [class.complex]="isComplexObject(data.value[key])">
          <pre *ngIf="isComplexObject(data.value[key])">{{formatValue(data.value[key])}}</pre>
          <span *ngIf="!isComplexObject(data.value[key])">{{formatValue(data.value[key])}}</span>
        </div>
      </div>

      <div *ngIf="getKeys().length === 0" class="empty-state">
        <mat-icon>inbox</mat-icon>
        <p>Empty dictionary</p>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button color="primary" (click)="close()">Close</button>
  </div>
</div>
